*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}


/* width */
::-webkit-scrollbar {
    width:5px;
    border-radius: 100%;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: crimson;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: crimson;
  }