footer {
    width: 100%;
    height: 30vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.first,
.second,
.third {
    width: 33.33%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.first>span {
    color: crimson;
    font-size: 50px;
}

.first>p {
    color: white;
    font-size: 20px;
}

.second>h2 {
    color: whitesmoke;
}

.second>a {
    font-size: 20px;
    color: whitesmoke;
    margin-top: 10px;
}

.second>a:hover {
    color: crimson;
}

.third>h2 {
    color: whitesmoke;
}

.third>:nth-child(2) {
    margin-top: 20px;
}

@media screen and (max-width: 780px) {

    footer {
        height: 80vh;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .first,
    .second,
    .third {
        width: 100%;


    }

}